./.coverage
./*.egg-info
./.env*
./.git/
./.gitignore
./*.md
./.tox
./backups/
./build
./circle.yml
./coverage-html
./docker-compose*yml
./Dockerfile*
./docs/_site
./deploy/
./haproxy_conf/
./log/
./nginx_conf/
./node_modules/
./scripts/
./tmp/
./test-requirements.txt
./tests
./tox.ini
./tox/
