{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col col-lg-8 mx-auto">
                <h2 class="mt-5">{{ page_title|safe }}</h2>
                <small>Revision date: {{ revision_date }}</small>
                {% if super_admin %}
                    <a href="{{ edit_url }}" class="btn btn-danger">Edit</a>
                {% endif %}
                <div id="privacy-content">
                    {{ page_content|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
