{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}
{% set body_class = 'bg-profile' %}

{% block body %}
    <div class="container pb-5">
        <div class="page-header mt-4 mt-lg-5 mb-4 px-3 px-lg-4 d-flex align-items-center">
            <h6 class="m-0">
                Reset password
            </h6>
        </div>

        {% with form=form %}
            {% include 'auth/snippets/reset-password-card.html' %}
        {% endwith %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ asset_url_for('reset-password.js') }}"></script>
{% endblock %}
