{% from '_macros/global.html' import render_card, render_field, render_icon %}

{% call render_card('Change your password', class='h-100', body='p-3 d-flex justify-content-between flex-column') %}
    <form method="post" action="{{ url_for('password_reset', user_id=current_user.id) }}" id="{{ form_id }}">
        {{ form.csrf_token(id=False) }}

        {% include '_partials/password_requirements.html' %}

        <div class="form-group">
            {{ form.password.label }}

            <div class="input-toggle" data-toggle="text|password">
                {{ render_field(form.password, id='txtPassword', placeholder='Enter Password', label=False) }}
                {{ render_icon('eye', class='toggler') }}
            </div>
        </div>
        <div class="form-group">
            {{ form.confirm.label }}

            <div class="input-toggle" data-toggle="text|password">
                {{ render_field(form.confirm, placeholder='Re-enter Password', label=False) }}
                {{ render_icon('eye', class='toggler') }}
            </div>
        </div>
    </form>
    <div class="text-center mt-auto">
        {{ render_field(form.submit, class='btn btn-danger px-5', id='passwordSubmit', form=form_id) }}
    </div>
{% endcall %}
