{% from '_macros/global.html' import render_card, render_field %}

{% set heading = 'Thank you for joining LifeLoop.Live. In a few quick steps we’ll get your Organization set up' %}
{% set subheader = 'Please complete the fields below and we will contact you' %}

{% call render_card(heading, class='w-100 h-100', body='p-3', subheader=subheader) %}
    <form method="post" action="{{ url_for('orgs.create') }}" id="orgNewForm">
        {{ form.csrf_token(id=False) }}

        <div class="form-group">
            {{ render_field(form.name) }}
        </div>
        <div class="form-group">
            {{ render_field(form.street_address) }}
        </div>
        <div class="form-group">
            {{ render_field(form.state) }}
        </div>

        {% if current_user.super_admin %}
            <div class="form-group">
                {{ render_field(form.owner, placeholder='Search for owner by Last Name') }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ render_field(form.zip_code, placeholder='Zip', maxlength=5) }}
        </div>
        <div class="form-group">
            {{ render_field(form.city) }}
        </div>
        <div class="text-center text-lg-right">
            {{ render_field(form.submit, class='btn btn-primary px-5') }}
        </div>
    </form>
{% endcall %}
